.chat-input , .rooms-header { height: 0px; }
.chat-line__message { font-size: large; color: white; }

General Settings
*/
body {
    color: #FFFFFF!important;
    margin: 0 auto!important;
    overflow: hidden!important;
    text-shadow:
        -1px -1px 1px #000000,
        -1px  1px 1px #000000,
         1px -1px 1px #000000,
         1px  1px 1px #000000!important;
}

html, body,
.room-selector, .room-selector__header,
.twilight-minimal-root, .tw-root--theme-light,
.popout-chat-page, .chat-room, .tw-c-background-alt,
.chat-container, .ember-chat-container {
    background: rgba(0,0,0,0)!important;
    background-color: rgba(0,0,0,0)!important;
}

/*
Badge Removal
To remove additional badge types - moderator, bits, etc - just make a copy of the one of the following badge selectors and replace the word inbetween the quotes with the hover text
img.badge[alt="Broadcaster"],
img.badge[alt="Moderator"],
img.badge[alt="Subscriber"],*/
img.badge[alt="Twitch Prime"],
img.badge[alt="Turbo"],
img.badge[alt="Verified"]
{
    display: none!important;
}

/**
 * Remove the header section
 */
.ember-chat .chat-room {
    top: 0!important;
}

.ember-chat .chat-header, .room-selector__header {
    display: none!important;
}

.ember-chat .chat-messages .chat-line.admin {
    display: none!important;
}

/**
 * Remove the footer section
 */

.ember-chat .chat-room, .chat-input {
    display: none!important;
    bottom: -112px!important;
}

/**
 * Font Size & Color
 */
.ember-chat .chat-messages .chat-line {
    font-size: 18px!important;
    line-height: 20px!important;
}

.chat-container, .ember-chat-container {
    color: #FFFFFF!important;
}
